/* настройки элементов страницы */
body, html
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.wrapper
{
	width: 100%;
	height: 100%;
}

.canvas
{
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	z-index: -1;
}

/* управление */

.controls {
	height: 300px;
	width: 98%;
	/* position: absolute; */
	z-index: 9999;
	bottom: 100px;
	justify-content: center;
	display: flex;
	position: absolute;
	right:1%;
	left: 1%;
	/* border: 3px solid rgb(0, 0, 0); */
}

[class$="-control"]{
	position: absolute;
	height: 100px;
	width: 100px;
	fill: white;
	background-color: #fff;
	border-radius: 50%;
}
.joystick {
	position: absolute;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	left: 100px;
	border-radius: 50%;
	border: 1px solid #000;
}
.top-control {
	transform: rotate(-90deg);
	left: 100px;
	bottom: 200px;
}

.right-control {
	bottom: 100px;
	left: 200px;
}

.bottom-control {
	transform: rotate(90deg);
	left: 100px;
	bottom:0;
	/* bottom: 100px; */
}

.left-control {
	transform: rotate(-180deg);
	left: 0px;
	bottom: 100px;
}

.shoot-control {
	right:100px;
	bottom: 100px;
	border-radius: 50%;
}

/* метрики */

.metrics {
	position: absolute;
	z-index: 9999;
	height: 100px;
	width: 400px;
	border: 1px solid #000;
	right: 100px;
	top: 0;
	display: flex;
	flex-direction: row;
}

.metric_item {
	width: 33.3%;
	height: 100%;
	font-size: 48px;
	text-align: center;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	display: flex;
	border: 1px solid #000;

}
.titles {

}
.ammo {

}

.health {

}

.score {

}

/* блок с паузой и вложенные в него кнопки */

.pause {
	position: absolute;
	left: 100px;
	top: 0;
	height: 100px;
	width: 100px;

}
.pause-btn {
	display: flex; 
	text-align: center;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	font-size: 36px;
	height: 100%;
	border: 3px solid #000;
}