/* настройки элементов страницы */
.off {
	display: none;
}
body, html
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.wrapper
{
	width: 100%;
	height: 100%;
}

.canvas
{
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	z-index: -1;
}

/* управление */

.controls {
	height: 300px;
	width: 98%;
	/* position: absolute; */
	z-index: 9997;
	/* bottom: 100px; */
	/* justify-content: center; */
	display: flex;
	position: absolute;
	bottom: 0;
	/* right:1%; */
	/* left: 1%; */
	/* flex-direction: row; */
	/* border: 3px solid rgb(0, 0, 0); */
}

[class$="-control"]{
	height: 48%;
	width: 48%;
	fill: rgb(255, 255, 255);
	background-color: #fff;
	border: 1px solid #000;
}
.joystick {
	position: absolute;
	height: 150px;
	width: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: 50%;
	left: 0;
	bottom: 0;
	transform: rotate(45deg);
	overflow: hidden;
	border: 3px solid #000;
}
.top-control {
	
}

.right-control {

}

.bottom-control {

}

.left-control {

}

.shoot-control {
	height: 100px;
	width: 100px;
	position: absolute;
	right: 100px;
	bottom: 100px;
	border: 3px solid #000;
	border-radius: 50%;

}

/* метрики */

.metrics {
	position: absolute;
	z-index: 9997;
	height: 100px;
	width: 400px;
	border: 1px solid #000;
	right: 100px;
	top: 0;
	display: flex;
	flex-direction: row;
}

.metric_item {
	width: 33.3%;
	height: 100%;
	font-size: 48px;
	text-align: center;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	display: flex;
	border: 1px solid #000;

}
.titles {

}
.ammo {

}

.health {

}

.score {

}

/* блок с паузой и вложенные в него кнопки */

.pause {
	/* position: absolute;
	left: 100px;
	top: 0; */
	/* height: 100px; */
	/* width: 100px; */
	display: flex;

}
.pause-btn {
	display: flex; 
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	/* height: 100%; */
	border: 3px solid #000;
	position: absolute;
	z-index: 9999;
}

.pauseMenu {
	/* backdrop-filter: blur(8px);  */
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	/* position: absolute;
	top: 40%; */
	/* top:-5%; */
	z-index:9998;
	font-size: 200px;
	font-family: 'Pompiere', cursive;
	font-weight: 200;
	/* animation: blur 10s linear; */
}
/* @keyframes blur {
	0% {
		backdrop-filter: blur(8px); 
	}
	100% {
		backdrop-filter: blur(0px); 
	}
} */
.pauseMenu > p {
	/* transform: translateY(-30%); */
}
.off {
	display: none;
}