.welcome-container {
  max-width: 1396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* header */

.welcome-title {
  font-size: 200px;
  font-family: 'Pompiere', cursive;
  font-weight: 200;
  text-align: center;
  margin-top: 57px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

/* main */

.welcome-PlayCustomizationEmpty {
  display: flex;
  flex-direction: row;
  /* border: 1px solid #000; */
  height: 253px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 131px;
}

.welcome-PlayCustomizationEmpty > div {
  height: 200px;
  width: 200px;
  border-radius: 25px;
  border: 4px solid #000;
  margin-top: 53px;
}

.welcome-PlayCustomizationEmpty > div ~ div {
  margin-left: 50px;
}
.welcome-play > a > svg {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 90px;
  width: 90px;
  margin-left: 50px;
  border-radius: 25px;
  margin-top: 45px;
  /* transform: rotate(90deg); */
  /* transform: translate(50%, 50%); */
}
.welcome-play {
  transform: rotate(90deg);
}

/* footer */

footer {
  /* border: 1px solid #000; */
  height: 142px;
  width: 100%;
  display: flex;
}

footer > div {
  width: 33%;
  /* border: 1px solid #000; */
}
/* middle btns */
.welcome-circle-btns{
  width: 34%;
  display: flex;
  flex-direction: row;
}
.welcome-circle-btns-cont {
  margin: auto auto;
  display: flex;
  flex-direction: row;
}
.welcome-circle-btn {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 80px;
  border: 4px solid #000;
}
.welcome-circle-btns-cont > div ~ div {
  margin-left: 20px;
}

/* ///////////////////////// */

/* social and compatyTitle */

.welcome-socials {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}
.welcome-socials > div ~ div {
  margin-left: 14px;
}

.welcome-social {
  height: 60px;
  width: 60px;
  border: 4px solid black;
  display: flex;
  flex-direction: row;

}
.welcome-companyTitle {
  font-size: 60px;
  font-family: 'Pompiere', cursive;
  font-weight: 200;
}

/* ///////////////////////// */

/* rec btn */
.welcome-rectangle-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.welcome-rectangle-btn {
  height: 61px;
  width: 296px;
  border: 4px solid #000;
  border-radius: 16px;
  display: flex;

}
.welcome-rectangle-btns > div ~ div {
  margin-top: 7px;
}
/* ///////////////////////// */

a {
  height: 100%;
  width: 100%;
  /* height: 100px;
  width: 100px; */
  display: block;
}