.welcome-container {
  max-width: 1396px;
  min-width: 600px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}
/* header */

.welcome-title {
  /* font-size: 10vw; */
  font-size: 200px;
  font-family: 'Pompiere', cursive;
  font-weight: 200;
  text-align: center;
  margin-top: 57px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

/* main */

.welcome-PlayCustomizationEmpty {
  display: flex;
  flex-direction: row;
  /* border: 1px solid #000; */
  height: 253px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 116px;
  justify-content: center;
  align-items: center;
}

.welcome-PlayCustomizationEmpty > div {
  height: 200px;
  width: 200px;
  border-radius: 25px;
  border: 4px solid #000;
  margin-top: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-PlayCustomizationEmpty > div ~ div {
  margin-left: 50px;
}
.welcome-play > a > svg {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 90px;
  width: 90px;
  margin-left: 50px;
  border-radius: 25px;
  margin-top: 45px;
  /* transform: rotate(90deg); */
  /* transform: translate(50%, 50%); */
}
.welcome-play {
  /* transform: rotate(90deg); */
  font-size: 32px;
}

/* footer */

footer {
  /* border: 1px solid #000; */
  height: 142px;
  width: calc(100% - 4vh);
  display: flex;
  /* padding-left: 2vw;
  padding-right: 2vw; */
}

footer > div {
  /* width: 33%; */
  justify-content: space-between;
  /* border: 1px solid #000; */
}
/* middle btns */
.welcome-circle-btns{
  /* width: 34%; */
  display: flex;
  max-width: 34%;
  margin: 0 auto;
  flex-direction: row;
}
.welcome-circle-btns-cont {
  /* margin: auto auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
}
.welcome-circle-btn {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 80px;
  border: 4px solid #000;
  justify-content: center;
  align-items: center;
}
.welcome-circle-btn >svg {
  height: 70%;
  width: 70%;
  display: flex;
}
.welcome-circle-btns-cont > div ~ div {
  margin-left: 20px;
}

/* ///////////////////////// */

/* social and compatyTitle */

.welcome-socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
}
.welcome-socials > div ~ div {
  margin-left: 14px;
}

.welcome-social {
  height: 60px;
  width: 60px;
  border: 4px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.welcome-companyTitle {
  font-size: 60px;
  font-family: 'Pompiere', cursive;
  font-weight: 200;
  margin-left: 3%;
}

/* ///////////////////////// */

/* rec btn */
.welcome-rectangle-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.welcome-rectangle-btn {
  height: 61px;
  width: 296px;
  border: 4px solid #000;
  border-radius: 16px;
  display: flex;

}
.welcome-rectangle-btns > div ~ div {
  margin-top: 7px;
}
/* ///////////////////////// */

a {
  height: 100%;
  width: 100%;
  /* height: 100px;
  width: 100px; */
  display: block;
}
@media (max-width: 1400px) {
  .welcome-title {
    font-size: 14vw;
  }
}
@media (max-width: 952px) {
  .welcome-companyTitle {
    font-size: 6vw;
  }
}
@media (max-width: 800px) {
  .welcome-social {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 720px) {
  .welcome-social {
    height: 40px;
    width: 40px;
  }
  .welcome-PlayCustomizationEmpty > div {
    width: 130px;
  }
}
@media (max-height: 800px) {
  .welcome-PlayCustomizationEmpty {
    margin-bottom: 90px;
  }
}
@media (max-height: 740px) {
  .welcome-PlayCustomizationEmpty {
    margin-bottom: 0px;
  }
  .welcome-PlayCustomizationEmpty > div {
    margin-top: 0;
  }
}
@media (max-height: 645px) {
  .welcome-PlayCustomizationEmpty {
    height: 216px;
  }
}
@media (max-height: 610px) {
  .welcome-PlayCustomizationEmpty > div {
    height: 100px;
  }
  .welcome-PlayCustomizationEmpty {
    justify-content: center;
    height: 116px;
  }
  .welcome-social {
    height: 40px;
    width: 40px;
  }
}
@media (max-height: 345px) {
  .welcome-PlayCustomizationEmpty > div {
    height: 75px;
    font-size: 8vh;
    width: 100px;
  }
  .welcome-title {
    font-size: 86.25px;
  }
  .welcome-circle-btn {
    height: 50px;
    width: 50px;
  }
  .welcome-circle-btn > svg{
    height: 35px;
    width: 35px;
  }
  footer {
    height: auto;
    justify-content: center;
  }
  .welcome-circle-btns{
    max-width: 58px;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .welcome-container {
    /* justify-content: start; */
  }
  /* .welcome-PlayCustomizationEmpty {
    justify-content: center;
    height: 116px;
  }
  .welcome-social {
    height: 40px;
    width: 40px;
  } */
  
}
@media (max-height: 285px) {
  .welcome-PlayCustomizationEmpty {
    height: auto;
    margin-top: -10px;
    margin-bottom: 6px;
  }
  .welcome-PlayCustomizationEmpty > div {
    height: 50px;
    font-size: 8vh;
    width: 75px;
  }
}
@media (max-height: 220px) {
  .welcome-title {
    font-size: 70px;
  }
  .welcome-socials > div {
    height: 30px;
    width: 30px;
  }
  .welcome-container {
    min-width: 490px;
    min-height: 200px;
  }
  /* .welcome-PlayCustomizationEmpty {
    height: auto;
    margin-top: -10px;
    margin-bottom: 6px;
  } */
  /* .welcome-PlayCustomizationEmpty > div {
    height: 50px;
    font-size: 8vh;
    width: 75px;
  } */
}